@font-face {
    font-family: automat;
    src: url(./fonts/automat/automat.ttf);
}

#container {
	width: 300px;
	height: 500px;
	background-color: #ccff66;
	margin: 0 auto;
}

.control-panel {
	float: right;
}

.control-panel * {
	display: block;
}

.button {
	height: 40px;
	width: 70px;
	color: #cccccc;
	background-color: #333333;
	margin: 10px 10px;
	border: 2px solid #4c4c4c;
}

.button:focus {
    outline: none;t
}

#ramen-space, #change-space {
	border: 2px solid #4c4c4c;
	background-color: #191919;
	color: #fd8008;
}

#ramen-space {
	height: 100px;
	width: 100px;
	position: relative;	
	top: 300px;
	left: 100px;
}

#change-space {
	height: 30px;
	width: 30px;
	position: relative;	
	top: 100px;
	left: 250px;
}

@-webkit-keyframes borderBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: red    
    }    
}    
@keyframes borderBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: red    
    }    
}    
.borderBlink{    
    -webkit-animation: borderBlink 1s step-end infinite;    
    animation: borderBlink 1s step-end infinite; 
}

.scroll-left {
 height: 50px;	
 overflow: hidden;
 position: relative;
 background: black;
 color: #21cc10;
 border: 1px solid #4c4c4c;
}
.scroll-left p {
 font-family: automat;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 5s linear infinite;
 -webkit-animation: scroll-left 5s linear infinite;
 animation: scroll-left 5s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(80%); }
 100% { -moz-transform: translateX(-80%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(80%); }
 100% { -webkit-transform: translateX(-80%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(80%); /* Browser bug fix */
 -webkit-transform: translateX(80%); /* Browser bug fix */
 transform: translateX(80%); 		
 }
 100% { 
 -moz-transform: translateX(-80%); /* Browser bug fix */
 -webkit-transform: translateX(-80%); /* Browser bug fix */
 transform: translateX(-80%); 
 }

