#container {
	width: 300px;
	height: 500px;
	background-color: #ccff66;
	margin: 0 auto;
}

.control-panel {
	float: right;
}

.control-panel * {
	display: block;
}

.button {
	height: 40px;
	width: 70px;
	color: #cccccc;
	background-color: #333333;
	margin: 10px 10px;
	border: 2px solid #4c4c4c;
}

#ramen-space, #change-space {
	border: 2px solid #4c4c4c;
	background-color: #191919;
	color: #fd8008;
}

#ramen-space {
	height: 100px;
	width: 100px;
	position: relative;	
	top: 300px;
	left: 100px;
}

#change-space {
	height: 30px;
	width: 30px;
	position: relative;	
	top: 100px;
	left: 250px;
}

@-webkit-keyframes borderBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: red    
    }    
}    
@keyframes borderBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: red    
    }    
}    
.borderBlink{    
    -webkit-animation: borderBlink 1s step-end infinite;    
    animation: borderBlink 1s step-end infinite; 
}


