@font-face {
    font-family: automat;
    src: url(./fonts/automat/automat.ttf);
}

body {
	padding: 40px 20px;
}

#container {
	width: 300px;
	height: 500px;
	background-color: #0e50e2;
	margin: 0 auto;
	padding: 10px;
}

.control-panel {
	float: right;
}

.control-panel * {
	display: block;
}

.button {
	height: 40px;
	width: 70px;
	color: #cccccc;
	background-color: #333333;
	margin: 10px 10px;
	border: 2px solid #4c4c4c;
}

.button:focus {
    outline: none;
}

#ramen-space, #change-space {
	background-color: #0f0f0f;
	color: #fd8008;
	border: 2px solid #11102d;
}

.ramen-in {
	background-image: url("./images/ramen1.png");
	background-size: contain;
}

.coin-in {
	background-image: url("./images/dogecoin.png");
	background-size: contain;
}

#ramen-space {
	height: 100px;
	width: 100px;
	position: relative;	
	top: 270px;
	left: 100px;
}

#change-space {
	height: 30px;
	width: 30px;
	position: relative;	
	top: 100px;
	left: 250px;
}

@-webkit-keyframes borderBlink {    
    from, to {    
        background-color: #4c4c4c; 
        border-color: #4c4c4c; 
        color: #cccccc;  
    }    
    50% {    
        background-color: rgba(198, 171, 35, 0.8);
        border-color: #efdb1b; 
        color: #1a1a1a;   
    }    
}    
@keyframes borderBlink {    
    from, to {    
        background-color: #4c4c4c;
        border-color: #4c4c4c; 
        color: #cccccc;   
    }    
    50% {    
        background-color: rgba(198, 171, 35, 0.8);
        border-color: #efdb1b;
        color: #1a1a1a;   
    }    
}    
.borderBlink{    
    -webkit-animation: borderBlink 1s step-end infinite;    
    animation: borderBlink 1s step-end infinite; 
}

.scroll-left {
 height: 50px;	
 overflow: hidden;
 position: relative;
 background: #06060c;
 color: #21cc10;
 border: 1px solid #4c4c4c;
}
.scroll-left p {
 white-space:nowrap;
 font-family: automat;
 font-size: 17px;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 6s linear infinite;
 -webkit-animation: scroll-left 6s linear infinite;
 animation: scroll-left 6s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(140%); }
 100% { -moz-transform: translateX(-140%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(140%); }
 100% { -webkit-transform: translateX(-140%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(140%); /* Browser bug fix */
 -webkit-transform: translateX(140%); /* Browser bug fix */
 transform: translateX(140%); 		
 }
 100% { 
 -moz-transform: translateX(-140%); /* Browser bug fix */
 -webkit-transform: translateX(-140%); /* Browser bug fix */
 transform: translateX(-140%); 
 }

